@import "tailwindcss";

@theme {
  --color-base-dark: #0b0b0b;
  --color-accent-metal: #b71c1c;
  --color-neutral-carbon: #2a2a2a;
  
  --font-headings: var(--font-orbitron), sans-serif;
  --font-body: var(--font-rajdhani), sans-serif;
}

body {
  background-color: var(--color-base-dark);
  color: #ededed;
  font-family: var(--font-body);
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}

/* Hide scrollbar for a cinematic feel */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
